*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh ;
    font-size: 120%;
    /* background: url(https://source.unsplash.com/random/1600x900/?weather); */
}

.flex{
    display: flex ;
    align-items: center;
    margin-left: 0;
}
.container{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1.2em;
    width: 100%;
    max-width: 440px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button{
    margin: 0.5em;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #222222;
    color: #fff;
    transition: 0.2s ease-in-out;
    border: none;
    outline: none;
}

.search button:hover{
    opacity: 0.6;
}

.input{
    width: 85%;
    padding: 0.4em 1.2em; 
    border-radius: 24px;
    background: #222222;
    color: #fff;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 105%;
}

 h1.temperature{ 
    margin: 0;
    margin-bottom: 0.2em ;
}

.description{
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading{
visibility: hidden;
max-height: 20px;
position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: "Loading....";
    color: #222;
    position: absolute;
    top: 0;
    left: 10px;
}
